{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Preguntas frecuentes" %}


{% block sidebar %}

<b>Secciones</b><br/><br/>
<ul>
	<li><a href="/page/faq/">Preguntas frecuentes</a></li>
	<li><a href="/page/about/">Acerca de</a></li>
	<li><a href="/page/opensource/">Open source</a></li>
	<li><a href="/page/thanks/">Colaboradores</a></li>
	<li><a href="/page/users/">Opiniones</a></li>
</ul>

{% endblock %}



{% block content %}

<h1>Preguntas frecuentes</h1>

<ol>
	<li>
		<b>¿Como publicar una oferta de empleo?</b><br/>
		Publicar una oferta de empleo es gratis para ello <a href="{{ path('user_register') }}">hace falta registrado</a> y desde la misma página principal con el botón <a href="{{ path('post_new') }}">Publicar empleo</a><br/><br/>
	</li>
	<li>
		<b>¿Qué tipo de ofertas de pueden publicar?</b><br/>
		Ofertas de empleo a tiempo completo, freelance o para hacer prácticas.<br/><br/>
	</li>
	<li>
		<b>¿Para que debería registrarme?</b><br/>
		Este directorio pretende ser un punto de encuentro para reunir profesionales del sector tecnológico en internet, estar registrado te puede facilitar la forma de hacer contactos con gente relevante del sector.
	</li>
</ol>

<br/>
<a name="companies"></a>
<h2>Casos de éxito</h2>
<br>

<ul>

<li>
<a href="http://mirubee.com" target="_blank" style="font-weight:bold;color:black">Nacho Vives - mirubee.com</a> (startup wayra)<br/>
Mirubee es una start up de recién creación en la que hace poco empezamos a necesitar gente. Uno de los puestos que necesitábamos era el de programador back end para que nos ayudara en el desarrollo de la plataforma. No queríamos recurrir a servicios generalistas de RRHH ya que hubiera sido una carga de trabajo para nosotros filtrar los candidatos y tampoco nos transmitía confianza. Así que decidimos probar betabeers. Estamos muy contentos con el proceso ya que los candidatos que se apuntaron a la oferta eran del perfil adecuado y de muy buena calidad. Además, en general, todos tenían un poco de genio emprendedor entre sus venas, algo que en mirubee valoramos mucho. Si alguna vez necesitamos otro programador volveremos a recurrir a la comunidad betabeers.<br/><br/>
</li>

<li>
<a href="http://gamisfaction.com" target="_blank" style="font-weight:bold;color:black">José Vicente y Luis Ignacio - gamisfaction.com</a> (startup wayra)<br/>
En Gamisfaction siempre nos hemos sentido muy identificados con BetaBears. Tanto con los eventos mensuales como con el amplio foro de desarrolladores y emprendedores que generan un campo de cultivo ideal para intercambiar ideas y conocimiento.<br/>
Cuando resultamos ganadores de Wayra Barcelona éramos conscientes de que necesitaríamos más personal y no disponíamos de capital para preparar un proceso de selección por lo que decidimos utilizar la plataforma de BetaBeers. Los resultados fueron sorprendentes, en tan solo un tres días teníamos a nuestra disposición más de una docena de candidatos que cubrían todos los puestos que necesitábamos, desde diseñadores hasta programadores java. Sin duda BetaBeers es el lugar ideal donde encontrar excelentes profesionales con capacidad de involucrarse en proyectos novedosos.<br/><br/>
</li>

<li>
<a href="http://www.uspeaklanguages.com" target="_blank" style="font-weight:bold;color:black">Andrés Burdett - uspeaklanguages.com</a><br/>
En uSpeak, llevábamos varios mese buscando un programador front end con dotes muy especiales. Bajo la dirección de nuestros chief technical advisor nos pusimos en contacto con varias agencias online y offline para buscar a gente del perfil que necesitábamos. Una de las opciones que surgió fue Beta Beers. El proceso de poner un anuncio fue increíblemente fácil y al poco tiempo nos habían mandado dos candidatos. La verdad es que los dos tenían buen curriculum y al entrevistarlos, estaban motivados y tenían afán de emprender. De todos los candidatos que entrevistamos nos quedamos con un enviado por Beta Beers, que ha resultado ser una persona tremendamente valiosa para uSpeak. Sin duda volveremos a anunciar vacantes con vosotros!<br/><br/>
</li>

<li>
<a href="http://dilunch.com" target="_blank" style="font-weight:bold;color:black">Mathieu Derval - dilunch.com</a><br/>
Gracias a este tipo de evento, hemos tenido la oportunidad de ampliar nuestras posibilidades para concretizar nuestra búsqueda de programador.<br/>
En tan solo 2 días, después de que Alejandra contactó con Cristian para pedirle si tenía contactos,  he recibido 3 o 4 propuestas.<br/>
Al final nos hemos quedado con uno que me contactó a través de vuestra bolsa de trabajo, es un chico de Cabra (Cordoba). Nos pusimos en contacto, y desde 2 semanas trabajamos junto sobre 2 tareas que teníamos pendientes en nuestra página. El tiempo nos dirá si esta elección habrá sido buena, pero por lo menos ha sido rápido!<br/><br/>
</li>

<li>
<b>Pepe Cano - Startup (in Stealth Mode)</b><br/>
Uno de los problemas con los que normalmente, se encuentran las startups, es la adquisición de talento y la búsqueda de profesionales que compartan tanto la idea, visión y cultura de empresa.<br/>
Gracias a betabeers, hemos encontrado excelentes profesionales por su conocimiento y valor técnico, que comparten esa forma de trabajar que diferencia al ecosistema de startups.<br/><br/>
</li>

</ul>



Si has conseguido programador o socio en betabeers, sería muy gratificante contar con tu experiencia como caso de éxito, <a href="http://betabeers.com/contacto/" target="_blank">envianos tu experiencia</a>


{% endblock %}