{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Casos de éxito" %}


{% block sidebar %}

<b>Secciones</b><br/><br/>
<ul>
	<li><a href="/page/success/">Casos de éxito</a></li>
	<li><a href="/page/faq/">Preguntas frecuentes</a></li>
	<li><a href="/page/about/">Acerca de</a></li>
	<li><a href="/page/opensource/">Open source</a></li>
	<li><a href="/page/thanks/">Colaboradores</a></li>
	<li><a href="/page/users/">Opiniones</a></li>
</ul>

{% endblock %}



{% block content %}

<h1>Casos de éxito</h1>

<h3>Empresas</h3><br/>

<ul>
<li>
<b>Mathieu Derval - dilunch.com</b><br/>
Gracias a este tipo de evento, hemos tenido la oportunidad de ampliar nuestras posibilidades para concretizar nuestra búsqueda de programador.<br/>
En tan solo 2 días, después de que Alejandra contactó con Cristian para pedirle si tenía contactos,  he recibido 3 o 4 propuestas.<br/>
Al final nos hemos quedado con uno que me contactó a través de vuestra bolsa de trabajo, es un chico de Cabra (Cordoba). Nos pusimos en contacto, y desde 2 semanas trabajamos junto sobre 2 tareas que teníamos pendientes en nuestra página. El tiempo nos dirá si esta elección habrá sido buena, pero por lo menos ha sido rápido!<br/><br/>
</li>

<li>
<b>Nacho Vives - mirubee.com</b><br/>
Mirubee es una start up de recién creación en la que hace poco empezamos a necesitar gente. Uno de los puestos que necesitábamos era el de programador back end para que nos ayudara en el desarrollo de la plataforma. No queríamos recurrir a servicios generalistas de RRHH ya que hubiera sido una carga de trabajo para nosotros filtrar los candidatos y tampoco nos transmitía confianza. Así que decidimos probar betabeers. Estamos muy contentos con el proceso ya que los candidatos que se apuntaron a la oferta eran del perfil adecuado y de muy buena calidad. Además, en general, todos tenían un poco de genio emprendedor entre sus venas, algo que en mirubee valoramos mucho. Si alguna vez necesitamos otro programador volveremos a recurrir a la comunidad betabeers.<br/><br/>
</li>
</ul>




{% endblock %}