{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Opiniones sobre betabeers" %}


{% block sidebar %}

<b>Secciones</b><br/><br/>
<ul>
	<li><a href="/page/faq/">Preguntas frecuentes</a></li>
	<li><a href="/page/about/">Acerca de</a></li>
	<li><a href="/page/opensource/">Open source</a></li>
	<li><a href="/page/thanks/">Colaboradores</a></li>
	<li><a href="/page/users/">Opiniones</a></li>
</ul>

{% endblock %}



{% block content %}

<style>
.comments{background:#efefef;padding:15px;min-height:90px;margin-bottom:15px}
	.comments div{display:none}
	.comments div.active{display:block}

.avatars{margin-bottom:15px}
	.avatars img{width:50px;height:50px;margin:0 5px 5px;border:2px white solid}
	.avatars a.active img{border:2px red solid}
</style>



<h1>Opiniones sobre betabeers</h1>


<div class="avatars">
	<a href="#" onmouseover="showComment(1)" id="avatar_1" class="active"><img src="http://api.twitter.com/1/users/profile_image/jmlweb?size=bigger"/></a>
	<a href="#" onmouseover="showComment(2)" id="avatar_2"><img src="http://api.twitter.com/1/users/profile_image/luisdiazdeldedo?size=bigger"/></a>
	<a href="#" onmouseover="showComment(3)" id="avatar_3"><img src="http://api.twitter.com/1/users/profile_image/jesusemi84?size=bigger"/></a>
	<a href="#" onmouseover="showComment(4)" id="avatar_4"><img src="http://api.twitter.com/1/users/profile_image/joviwap?size=bigger"/></a>
	<a href="#" onmouseover="showComment(5)" id="avatar_5"><img src="http://api.twitter.com/1/users/profile_image/wopper?size=bigger"/></a>
	<a href="#" onmouseover="showComment(6)" id="avatar_6"><img src="http://api.twitter.com/1/users/profile_image/javiermiguelg?size=bigger"/></a>
	<a href="#" onmouseover="showComment(7)" id="avatar_7"><img src="http://api.twitter.com/1/users/profile_image/alex_andreu?size=bigger"/></a>
	<a href="#" onmouseover="showComment(8)" id="avatar_8"><img src="http://api.twitter.com/1/users/profile_image/christian_wilde?size=bigger"/></a>
	<a href="#" onmouseover="showComment(9)" id="avatar_9"><img src="http://api.twitter.com/1/users/profile_image/povedica?size=bigger"/></a>
	<a href="#" onmouseover="showComment(10)" id="avatar_10"><img src="http://api.twitter.com/1/users/profile_image/thanos_malkav?size=bigger"/></a>
	<a href="#" onmouseover="showComment(11)" id="avatar_11"><img src="http://api.twitter.com/1/users/profile_image/wlappe?size=bigger"/></a>
	<a href="#" onmouseover="showComment(12)" id="avatar_12"><img src="http://api.twitter.com/1/users/profile_image/viktorvogh?size=bigger"/></a>
</div>


<div class="comments">

	<div id="comment_1" class="active">
	Lo que más me gusta de betabeers es la capacidad de generar conversaciones muy serias sobre nuestro campo profesional en un ambiente muy poco serio y distendido, lo que proporciona una mayor confianza y acercamiento entre grandes profesionales, que en otros círculos no se da debido a la "distancia" entre ponentes y asistentes.
	<br/><a href="http://dir.betabeers.com/user/jose-manuel-lucas-543/">José Manuel Lucas</a>
	</div>

	<div id="comment_2">
	El dinamismo, los proyectos que se presentan. Conocer gente de mi sector.
	<br/><a href="http://dir.betabeers.com/user/luis-diaz-del-dedo-184/">Luis Díaz del Dedo</a>
	</div>
	
	<div id="comment_3">
	Reunión con desarrolladores web con un nivel muy muy bueno
	<br/><a href="http://dir.betabeers.com/user/jesus-perez-villegas-358/">Jesús Pérez Villegas</a>
	</div>
	
	<div id="comment_4">
	Me ha dado energias para emprender. He conocido a muchos profesionales realmente cualificados, así como los proyectos que llevan a cabo.
	<br/><a href="http://dir.betabeers.com/user/jose-vicente-sogorb-moron-210/">José Vicente Sogorb</a>
	</div>
	
	<div id="comment_5">
	Las charlas técnicas son muy útiles y sirven como introducción a dichos temas. Así me inicié en los emuladores de android para hacer apps ;-)
	<br/><a href="http://dir.betabeers.com/user/carlos-pena-gonzalez-122/">Carlos Peña González</a><br/>
	</div>
	
	<div id="comment_6">
	Me gusta:
	- las cañas con networking
	- compartir hallazgos (libros, herramientas, hacks)
	- poder ofertar y recibir ofertas de trabajo freelance
	- aportar y recibir ayuda de otros en los problemas tecnológicos
	- estar enterado de eventos/cursos
	<br/><a href="http://dir.betabeers.com/user/javier-miguel-479/">Javier Miguel</a><br/>
	</div>
	
	<div id="comment_7">
	Encontrarme con desarrolladores de alto nivel que tienen inquietudes y están deseosos de aprender más
	<br/><a href="http://dir.betabeers.com/user/alex-andreu-sanchez-475/">Alex Andreu Sanchez</a>
	</div>

	<div id="comment_8">
	He conocido a gente muy interesate, proyectos buenos y me encontré en un ambiente genial. Me gusta del evento que tiene un ambiente distendido y que la gente en general participa y aporta cosas
	<br/><a href="http://dir.betabeers.com/user/christian-oliveira-105/">Christian Oliveira</a>
	</div>
	
	<div id="comment_9">
	Aprender, descubrir, compartir, crear y disfrutar de unas cañitas, rodeados de una comunidad como Betabeers es una suerte. Deberían crearse más iniciativas como ésta. Felicidades ;-)
	<br/><a href="http://dir.betabeers.com/user/pablo-poveda-389/">Pablo Poveda Ortega</a>
	</div>
	
	<div id="comment_10">
	Betabeers es sin duda alguna el lugar ideal para conocer gente relacionada con el mundo emprendedor, pero sobre todo, con el mundo de los de arrolladores web, móvil, etc.
	Además, el ambiente distendido que se respira seas asistente o ponente anima mucho a repetir la asistencia ya que nunca se sabe donde puedes encontrar a tu futuro socio o persona que te pueda ayudar en tu actividad profesional.
	En este sentido, es evidente que Betabeers te abre las puertas profesionalmente a un espectro amplio tanto de visiones empresariales, como de tecnologías y conocimientos actuales, lo que nunca está de más.
	<br/><a href="http://dir.betabeers.com/user/daniel-gallego-vico-250/">Daniel Gallego Vico</a>
	</div>
	
	<div id="comment_11">
	Evento distinto, buen ambiente y con un foco claro conocer a quienes llevan a cabo proyectos y tener para un futuro un lugar donde resolver dudas o participar en proyectos
	<br/><a href="http://dir.betabeers.com/user/wilhelm-lappe-55/">Wilhelm Lappe</a>
	</div>
	
	<div id="comment_12">
	Que puedo ayudar con mis conocimientos a otros desarrolladores de nivel tecnológico muy elevado, y a cambio, cuando tengo una duda o un problema, recibo al instante muchos y muy buenos consejos.
	<br/><a href="http://dir.betabeers.com/user/olmo-gallegos-hernandez-686/">Olmo Gallegos Hernández</a>
	</div>
	
</div>


<div style="text-align:center"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dDZ0dG9vUnYtbGk1UGdqRHBZeUFmcXc6MQ#gid=0" class="btn btn-primary" target="_blank">¡Envía tu opinión sobre betabeers!</a></div>


<script>
function showComment(id){
	$('.comments div').removeClass('active');
	$('#comment_' + id).addClass('active');
	$('.avatars a').removeClass('active');
	$('#avatar_' + id).addClass('active');
}
</script>




{% endblock %}

