{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Dar badges" %}

{% block content %}

<h1>Dar badges</h1>

<form action="{{ path('test_addbadges') }}" method="post">

	<div class="control-group">
		<label>ID usuario:</label>
		<div class="controls">
			<input name="user_id"/>
		</div>
	</div>

	<div class="control-group">
		<label>Test:</label>
		<div class="controls">
			<select name="test_id">
				<option value="3">presentar proyecto</option>
				<option value="2">ponente taller</option>
			</select>
		</div>
	</div>
	<div class="form-actions">
		<input type="submit" value="Confirmar" class="btn btn-primary"/>
	</div>
</form>

{% if entity %}
	<div class="alert alert-success">
	has asignado el badge correctamente a <a href="{{ path('user_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.name }}</a>
	</div>
{% endif %}


{% endblock %}