{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Dar badges" %}

{% block content %}

<h1>Dar badges</h1>

<form class="form-horizontal" action="{{ path('test_addbadges') }}" method="post">

	<div class="control-group">
		<label>Acción:</label>
		<div class="controls">
			<input name="action" type="radio" value="1" checked="checked"/> añadir 
			<input name="action" type="radio" value="0"/> quitar
		</div>
	</div>

	<div class="control-group">
		<label>ID usuario:</label>
		<div class="controls">
			<input name="user_id" id="user_id"/>
		</div>
	</div>

	<div class="control-group">
		<label>Test:</label>
		<div class="controls">
			<select name="test_id">
				<option value="3">presentar proyecto</option>
				<option value="2">ponente taller</option>
				<option value="5">hackathon</option>
				<option value="6">colaborador</option>
			</select>
		</div>
	</div>
	<div class="form-actions">
		<input type="submit" value="Confirmar" class="btn btn-primary"/>
	</div>
</form>

{% if user %}
	<div class="alert alert-success">
	{% if action == 1 %}
		has asignado 
	{% else %}
		has quitado 
	{% endif %}

	el badge correctamente a <a href="{{ path('user_show', { 'id': user.id, 'slug': user.slug }) }}">{{ user.name }}</a>
	</div>
{% endif %}


{% endblock %}


{% block script_load %}
	$('#user_id').focus();
{% endblock %}