{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Emails eventos" %}

{% block content %}



<h1>Emails eventos</h1>

<form action="{{ path('event_emails') }}">
	ID evento o hashtag: 
	<input name="q" value="{{ search }}"/> 
	<input type="submit" value="Buscar"/>
</form>

{% if search %}
	{% if entities %}
	
		<form>

<input name="subject" id="subject" placeholder="Asunto" required="required" style="width:400px;"/>

<br/>
	
<textarea name="emails" style="width:400px;height:50px" required="required">
{% for entity in entities %}
{{ entity.email }}
{% endfor %}
</textarea>
		
<br/>
		
<textarea name="template" id="template" style="width:400px;height:200px" required="required" onkeyup="previewTemplate()">
<table width="600" cellpadding="0" cellspacing="0" style="font-size:16px;font-family:arial;border:1px #ccc solid;color:black">
<tr>
<td colspan="2" style="background:#CD2800;text-align:center;padding:13px">
<a href="http://betabeers.com/" target="_blank" style="font-size:35px;color:white;text-decoration:none">&szlig;etabeers</a>
</td>
</tr>
<td colspan="2" style="padding:20px;">

<b style="font-size:25px" id="preview_subject">Asunto</b>
<br/><br/>

esto es una prueba


</td>
</tr>
</table></textarea>
		
		<br/><br/>
		
		<div id="preview_body"></div>
		
		<br/>
		
		<input type="submit" value="Enviar mails" class="btn btn-primary"/> <a href="#" class="btn">Vista previa</a>
		
		</form>
		

	{% else %}
		Sin resultados
	{% endif %}
{% endif %}


<script>
function previewTemplate()
{
	$('#preview_body').html($('#template').val());
	$('#preview_subject').html($('#subject').val());
}
</script>

{% endblock %}




{% block script_load %}
	$('#preview').html($('#template').val());
{% endblock %}