{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Emails eventos" %}

{% block content %}

<h1>Emails eventos</h1>

<form action="{{ path('event_emails') }}">
	ID evento o hashtag: 
	<input name="q" value="{{ search }}"/> 
	<input type="submit" value="Buscar"/>
</form>

{% if search %}
	{% if entities %}

		{% for entity in entities %}
			{{ entity.email }}<br/>
		{% endfor %}

	{% else %}
		Sin resultados
	{% endif %}
{% endif %}


{% endblock %}
