{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Empresas" %}

{% block sidebar %}

	<a href="/post/new" class="btn btn-large btn-primary">Publicar empleo</a>

{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li>Empresas</li>
</ul>

<h1>Empresas</h1>

<div style="padding:10px 0;border-top:1px #efefef solid;">
	<div style="float:left;width:340px;padding-left:15px">
		<a href="/company/24symbols/" class="title" style="font-size:15px;line-height:16px;">24symbols</a><br>
		Madrid, Espa–a
	</div>		
	<div style="float:right;width:100px;">
		<span class="date">11/07/2012</span>
	</div>
	<br class="clear">
</div>

<!--background:#F6F6F6-->

{% endblock %}