{% set share_url = url('company_show', { 'id': 'socialbro' }) %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "SocialBro" %}

{% block sidebar %}

<a href="http://es.socialbro.com" class="btn">Visitar web</a>

<br/><br/>

<b>Ofertas de empleo</b><br/><br/>

<ul>
	<li><a href="/post/mysql-database-engineer-cordoba-socialbrocom-378/">MySQL Database Engineer</a></li>
	<li><a href="/post/backend-senior-software-engineer-cordoba-socialbro-ltd-329/">Backend Senior Software Engineer</a></li>
	<li><a href="/post/software-engineer-web-applications-cordoba-socialbro-ltd-331/">Software Engineer - Web Applications</a></li>
	<li><a href="/post/designer-cordoba-socialbro-ltd-330/">Designer</a></li>
</ul>

{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('company') }}">Empresas</a> <span class="divider">/</span></li>
  <li>SocialBro</li>
</ul>

<h1>SocialBro</h1>

Con SocialBro puedes gestionar y analizar tu comunidad de Twitter. Rompe las barreras que hay entre tú y tu comunidad.<br/><br/>

<ul class="nav nav-tabs tabs">
	<li class="active"><a href="#videos" data-toggle="tab">Video</a></li>
	<li><a href="#slides" data-toggle="tab">Slides</a></li>
	<li><a href="#tweets" data-toggle="tab" id="tab_tweets">Tweets</a></li>
	<li><a href="#map" data-toggle="tab" id="tab_map">Mapa</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="videos">

	SocialBro - Alfredo Artiles @aartiles24<br/>
	Betabeers Madrid, 28 de febrero de 2012.<br/><br/>
	
	<iframe width="560" height="315" src="http://www.youtube.com/embed/n-D4Ckd-m8w" frameborder="0" allowfullscreen></iframe>
</div>

<div class="tab-pane" id="slides">
	<script async class="speakerdeck-embed" data-id="4f4bb7a6dc1039002101c5f4" data-ratio="1.2945638432364097" src="//speakerdeck.com/assets/embed.js"></script>
</div>

<div class="tab-pane" id="tweets"></div>

<div class="tab-pane" id="map">
	<div id="address" style="display:none">37.884025,-4.782021</div>
	San Felipe 9, 3ro izq, 14003 Córdoba<br/><br/>
	<div id="map_canvas" style="width:500px;height:300px"></div>
</div>

</div>

{% endblock %}



{% block load_src %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block script_load %}
	
	$('#tab_map').click(function(){
		getMap();
	});
	
	$('#tab_tweets').click(function(){
		if( $('#tweets').html() == '' ){
			$("#tweets").html( 'cargando...' );
			$.ajax({
				dataType: 'jsonp',
				success: function(data){
					html = '';
					if( data.results.length ){
					    $.each(data.results, function(i,item){
							html += '<a href="http://twitter.com/' + item.from_user + '" target="_blank" style="width:35px;height:35px;float:left;margin-right:15px"><img src="' + item.profile_image_url + '"></a><div style="float:left;width:500px">' + replaceURLWithHTMLLinks( item.text ) + '</div><br class="clear"/><br/></li>';
					    });
						$("#tweets").html(html);
					}else{
						$('#tweets').html('sin resultados');
					}
				},
				type: 'GET',
				url: 'http://search.twitter.com/search.json?rpp=10&q=from%3Asocialbro'
			});
		}
	});


	
{% endblock %}