{% set share_url = url('company_show', { 'id': 'softonic' }) %}
{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Softonic" %}

{% block sidebar %}

<a href="http://softonic.com" class="btn">Visitar web</a>

<br/><br/>

<b>Ofertas de empleo</b><br/><br/>

<ul>
	<li><a href="/post/php-web-developer-softonic-394/">PHP Web Developer</a></li>
	<li><a href="/post/javascript-developer-barcelona-softonic-367/">Javascript Developer</a></li>
</ul>

{% endblock %}



{% block content %}


<ul class="breadcrumb">
  <li><a href="{{ path('post') }}">Inicio</a> <span class="divider">/</span></li>
  <li><a href="{{ path('company') }}">Empresas</a> <span class="divider">/</span></li>
  <li>Softonic</li>
</ul>

<h1>Softonic</h1>

La misión de softonic consiste en ayudar a las personas a encontrar y a disfrutar el software que necesitan para mejorar sus vidas.<br/><br/>

<ul class="nav nav-tabs tabs">
	<li class="active"><a href="#videos" data-toggle="tab">Video</a></li>
	<li><a href="#tweets" data-toggle="tab" id="tab_tweets">Tweets</a></li>
	<li><a href="#map" data-toggle="tab" id="tab_map">Mapa</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="videos">

	Softonic - Jose Armesto @fiunchinho<br/>
	Betabeers Barcelona, 28 de junio de 2012.<br/><br/>
	
	<iframe width="560" height="315" src="http://www.youtube.com/embed/ttkUWT9fU1c" frameborder="0" allowfullscreen></iframe>
</div>



<div class="tab-pane" id="tweets"></div>

<div class="tab-pane" id="map">
	<div id="address" style="display:none">41.436921,2.180642</div>
	Calle Rosselló i Porcel, 21 / 17, 08016 Barcelona, España<br/><br/>
	<div id="map_canvas" style="width:500px;height:300px"></div>
</div>

</div>

{% endblock %}



{% block load_src %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block script_load %}
	
	$('#tab_map').click(function(){
		getMap();
	});
	
	$('#tab_tweets').click(function(){
		if( $('#tweets').html() == '' ){
			$("#tweets").html( 'cargando...' );
			$.ajax({
				dataType: 'jsonp',
				success: function(data){
					html = '';
					if( data.results.length ){
					    $.each(data.results, function(i,item){
							html += '<a href="http://twitter.com/' + item.from_user + '" target="_blank" style="width:35px;height:35px;float:left;margin-right:15px"><img src="' + item.profile_image_url + '"></a><div style="float:left;width:500px">' + replaceURLWithHTMLLinks( item.text ) + '</div><br class="clear"/><br/></li>';
					    });
						$("#tweets").html(html);
					}else{
						$('#tweets').html('sin resultados');
					}
				},
				type: 'GET',
				url: 'http://search.twitter.com/search.json?rpp=10&q=from%3ASoftonic'
			});
		}
	});


	
{% endblock %}