{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Respuestas anuncio" %}


{% block sidebar %}

	<a href="{{ path('post_dashboard') }}" class="btn">Ver tus anuncios</a>

{% endblock %}



{% block content %}


{% endblock %}



{% block script_load %}

	$(".accordion").collapse().css('height','auto');

{% endblock %}