{% extends "ApplicationAnunciosBundle::layout.html.twig" %}

{% block title "Comunidades" %}


{% block sidebar %}

	
{% endblock %}



{% block content %}


	<h1>Comunidades</h1>


	
	{% for tag in entities %} 
		<a href="{{ path('tag_show', { 'slug': tag.slug }) }}" style="float:left;border-radius:5px;padding:2px 5px;background:#666;color:white;margin:0 5px 5px 0">{{ tag.title }} ({{ tag.users }})</a>
	{% endfor %}

	<br class="clear"/>

{% endblock %}